@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
:root{
    /*Cores*/
    --cor1: #267365;
    --cor2: #F2CB05;
    --cor3: #F29F05;
    --cor4: #F28705;
    --cor5: #F23030;

    /*Fontes*/
    --fonte-destaque: 'Open Sans', sans-serif;
    --fonte-padrao: 'Arial Narrow', Arial, sans-serif;
}