*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html{
   /* overflow-y: hidden;*/
    overflow-x: hidden;
}
body{
    background-color: #f8ba35;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#bola{
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background-color: #FF612C;
    position: absolute;
    top: 40%;
    left: 70%;
}
#la{
    width: 330px;
    height: 320px;
    border-radius: 50%;
    background-color: #FF612C;
    position: absolute;
    top: -30px;
    left: -70px;
}
#titulo{
    width: 20%;
    text-align: center;
    margin-top: 20px;
    margin-left: 520px;
    border: 1px solid #FF612C ;
    font-size: 0.9rem;
}
form{
    position: absolute;
    top: 100px;
    left: 450px;
    width: 30%;
    margin: auto;
    background-color: rgba(255, 97, 44, 0.4);
    border-radius: 10px;
}
#fundo{
    position: absolute;
    margin: 0;
    padding: 0;
}
.dog1{
    position: absolute;
    width: 120px;
    height: 120px ;
    top: 450px;
    left: 100px;
}
.dog2{
    position: absolute;
    width: 120px;
    height: 120px ;
    top: 200px ;
    left: 1100px ;
}
.dog3{
    position:absolute;
    width: 120px;
    height: 120px ;
    left: 250px;
}
.gato1{
    position: absolute;
    width: 120px;
    height: 120px ;
    top: 220px;
    left: 50px;
}
.gato2{
    position: absolute;
    width: 120px;
    height: 120px ;
    left: 1000px ;
}
.gato3{
    position: absolute;
    width: 120px;
    height: 120px ;
    top: 450px;
    left: 800px;
}
fieldset{
    border:none;
    padding: 20px;
}
#legenda{
    text-align: center;
    font-weight: bold;
}
.caixa{
    height: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    margin: 5px 0;
}
#leg2, #leg3{
    font-size: 1.2rem;
}
#dados-dog{
    font-size: 1.2rem ;
    padding-bottom: 10px;
}
#tipo{
    border-radius: 5px;
    height: 25px ;
    margin: 0 8px;
    margin-top: 5px;
    background-color: #fff;
}
#sex fieldset{
    padding: 10px;
    width: 200px;
    font-size: 1.2rem;
    border: 1px solid #FF612C;
    margin-bottom: 10px;
}
#data-hora{
    margin: 5px;
}
#data-hora input{
    margin: 0 8px;
    border-radius: 5px;
    border: none;
    height: 25px ;
}

